@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap";

:root {
    --clr-black: #121214;
    --clr-black-light: #000000;
    --clr-blue-light: #0033FF;
    --clr-gray: #A6A8AD;
    --clr-gray-light: #767676;
    --clr-white: #FFFFFF;
    --clr-green-light: #31b81c;
    --transition-default: all .3s ease-in-out;
    --font-family-roboto: 'Roboto', sans-serif;
    --font-family-josefin: 'Josefin Sans', sans-serif;
}

*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.preload {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Ensures it is on top of all content */
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.preload.loaded {
    opacity: 0;
    visibility: hidden;
}
.preloader-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  .circle {
    text-align: center;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-top: 4px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
.text{
    font-family: var(--font-family-josefin);
    letter-spacing: 6px;
    margin-top: 5vh;
    font-size: 3rem;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
body
{
    font-size: 1.6rem;
    background: var(--clr-black);
}
ul
{
    list-style-type: none;
}
a,.nav-link
{
    color: var(--clr-gray);
    text-decoration: none;
}
.container {
    max-width: 1400px;
    margin: 0px auto;
    padding: 0.8rem 0.5rem;
}
.nav-item
{
    padding: 0px 15px;
}
.nav-link
{
    font-family: var(--font-family-roboto);
    line-height: 20px;
    font-size: 17.5px;
    font-weight: 500;
    letter-spacing: 1.1;
    transition: var(--clr-gray);
    transition: var(--transition-default);
}
.nav-link:hover
{
    color: var(--clr-green-light);
}
.nav-link-connect
{
    font-family: var(--font-family-roboto);
    font-size: 20px;
    font-weight: 700;
    padding-right: 10px;
    text-transform: uppercase;
    letter-spacing: 1.1;
    transition: var(--clr-gray);
}

.nav-bar-collapse
{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}
.media
{
    width: 50%;
    display: flex;
    align-items: center;
}
.nav-content
{
    display: flex;
}
.header-btn-burger
{
    position: relative;
    display: none;
    width: 30px;
    height: 30px;
    border: none;
    z-index: 1;
    background: none;
    
}
.header-btn-burger span{
    position: absolute;
    width: 25px;
    height: 4px;
    border-radius: 10px;
    background-color:#fff;
    left: 5px;
    transition: var(--transition-default)
}
.header-btn-burger span:nth-child(1) {
    transform: translateY(-10px);
}

.header-btn-burger span:nth-child(3) {
    transform: translateY(10px);
}

.header-btn-burger.show span {
    background-color: #fff;
}

.header-btn-burger.show span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header-btn-burger.show span:nth-child(2) {
    opacity: 0;
}

.header-btn-burger.show span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.connect-list
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.aside-content
{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--clr-blue-light);
}

.section-baner {
    background: url(../images/Baner.png) no-repeat center/cover;
    height: 90vh;
}
.baner-content {
    display: inline-block;
    padding: 4rem 0;
    font-family: var(--font-family-roboto);
    color: var(--clr-white);
}
.aside-text
{
    font-family: var(--font-family-roboto);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 10px 0px;
    padding: 0px 40px 0px 0px;
    color: var(--clr-white);
}
.aside-btn-hidden
{
    font-family: var(--font-family-roboto);
    font-size: 17.5px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-decoration: underline;
    margin: 10px 0px;
    color: var(--clr-white);
    cursor: pointer;
}
.baner-title,
.baner-title-aside,
.baner-title-aside-second
{

    font-size: 4.5rem;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin-bottom: 20px;
}
.lead-text
{  
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    line-break: strict;
    max-width: 450px;
    margin-bottom: 35px;
}
.custom-btn
{
    padding: 18px 40px;
    border: none;
    border-radius: 8px;
    background: var(--clr-blue-light);
    font-family: var(--font-family-roboto);
    font-size: 16px;
    font-weight: 700;
    color: var(--clr-white);
    cursor: pointer;
    transition: var(--transition-default);
}

.custom-btn:hover
{
    box-shadow: 0px 0px 10px var(--clr-white);
}

.sc-popular
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    
}
.sc-cont,.section-container {
    font-family: var(--font-family-roboto);
    font-weight: 500;
    color: var(--clr-white);
}
.section-title
{
    font-size: 14.5px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.9px;
    text-align: left;
    text-transform: uppercase;
    color: var(--clr-gray);
}
.section-container-span
{
    text-align: end;
}
.section-container-slogan
{
    font-size: 2.3rem;
    font-weight: 400;
    line-height: 36px;
    margin: 14px 0px; 
}
.sc-slogan {
    text-align: end;
}
.section-container-text
{
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 24px;
    line-break: strict;
    max-width: 450px;   
}
.sc-p
{
    text-align: end; 
    max-width: 54vh; 
    line-height: 30px;
}
.section-container-btn
{
    padding: 10px 35px;
    margin-top: 2rem;
    border: none;
    background: var(--clr-blue-light);
    border-radius: 8px;
    font-family: var(--font-family-roboto);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--clr-white);
    cursor: pointer;
    transition: var(--transition-default);
}
.sc-btn
{
    text-align: end;
}
.section-container-btn:hover {
    background: #003CC5;
    box-shadow: none;
   
}
.section-card-title
{
    font-family: var(--font-family-roboto);
    font-size: 1.9rem;
    font-weight: 400;
    margin: 35px 0px;
    color: var(--clr-white);
}
.card-list
{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 130px;
}
.card-1,.card-2,.card-3
{
    height: 453px;
    border-radius: 10px;
    background: var(--clr-white);
    
}

.card-top-1, .card-top-2, .card-top-3
{
    text-align: center;
    margin-top: 30px;
}
.card-bottom {
    text-align: center;
    margin: 15px 20px;
}
.card-text
{
    font-family: var(--font-family-roboto);
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0px;
    color: var(--clr-black-light);
}
.card-name
{
    font-family: var(--font-family-roboto);
    font-size: 16px;
    font-weight: 500;
    color: var(--clr-gray-light);
}

.section-sc-stores {
   
    height: 100vh; 
    background: url(../images/Human.png) no-repeat center / 100%;
    position: relative;
}
.sc-centre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-sc-stores::after
{
    content: "";
    background: var(--clr-black);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.85;
}
.section-sc-stores-container
{
    text-align: center;
    position: relative;
    z-index: 999;
}
.section-sc-stores-slogan
{
    font-family: var(--font-family-roboto);
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 60px;
    
    color: var(--clr-white);
}
.section-sc-stores-btn
{
    font-family: var(--font-family-roboto);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
   
    padding: 10px 35px;
    margin-top: 35px;
    background: var(--clr-blue-light);
    color: var(--clr-white);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: var(--transition-default);
}
.section-sc-stores-btn:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #3C82F8;
}
.footer-container
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.copy-title
{
    
    font-family: var(--font-family-roboto);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--clr-white);
}
.copy-link
{
    font-family: var(--font-family-roboto);
    font-size: 1rem;
    font-weight: 500;
    line-height: 2.5;
    text-align: left;
    color: var(--clr-gray);
    cursor: pointer;
}
.footer-bottom-content
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0px 10px;

}
.sc-fot-cont {
    max-width: 1655px;
    padding: 0rem 1rem;
    margin: 0 auto;
}

.footer-bottom-content-text,.footer-bottom-content-text-title {
    font-family: var(--font-family-roboto);
    font-size: 1rem;
    font-weight: 400;
    color: var(--clr-gray-light);
    padding: 0px 10px;
}

.sc-sFdF {
    display: flex;
    align-items: center;
}
@media screen and (max-width: 1400px) {
    .header-btn-burger {
        display: block;
        cursor: pointer;
        position: fixed;
        top: 0;
        right: 20px;
        z-index: 1001;
    }

    .header-btn-burger span {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: #fff;
        transition: all 0.3s ease-in-out;
    }

    .nav-bar-collapse {
        position: fixed;
        display: flex;
        flex-direction: column;
        right: 0;
        top: 0;
        width: 300px;
        height: 100%;
        background-color: var(--clr-black);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 60px 20px 20px; /* Adjusted bottom padding */
        transform: translateX(100%);
        transition: var(--transition-default);
        z-index: 1001;
    }

    .nav-content,
    .connect-list {
        display: flex;
        flex-direction: column;
        text-align: center;
        text-transform: uppercase;
        line-height: 4vh;
       
        padding: 25px 0px;
    }

    .nav-item {
        border-bottom: 1px solid var(--clr-gray-light);
        margin-bottom: 10px;
    }

    .nav-link {
        color: var(--clr-white);
    }

    .nav-item-media-pole {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: -webkit-center;
        margin: 7px;
    }

    .nav-bar-collapse.show {
        transform: translateX(0);
    }

}

@media screen and (max-width: 1200px) {
    .footer-container
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .copy-title,.copy-link {
        text-align: center;
    }
    .copy {
        margin-bottom: 10px;
    }
    .card-list {
        gap: 10px;
    }
}
@media screen and (max-width: 1050px)
{
    .section-sc-stores {
    
        background: url(../images/Human.png) no-repeat center / 100%;
        background-size: cover;
        
    }
}
@media screen and (max-width: 900px)
{
    .sc-popular {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .section-container {
        display: block;
        margin-top: 30px;
    }
    .img-section-popular {
        width: 85%;
    }
    .img-section-popular-media
    {
        text-align: center;
    }
    .footer-bottom-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .section-container-span,.sc-p,.sc-slogan,.sc-btn,.section-container-slogan,.section-container-text{
       
        text-align: center;
    }
   
}
@media screen and (max-width: 780px)
{
    .card-list {
       display: grid;
       grid-template-columns:repeat(1,1fr);
    }
    .section-card-title {
       
        text-align: center;
      
    }   

    .aside-content {
        display: flex;
        flex-wrap: wrap;
    }

}
@media screen and (max-width: 600px)
{
    .card-1, .card-2, .card-3 {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 480px){
    .footer-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .copy {
        margin-bottom: 30px;
    }

    .sc-sFdF,.footer-bottom-content {
        display: flex;
        flex-direction: column;
        margin: 10px 0px;
    }

    .footer-bottom-content-text {
        padding: 8px 0px;
    }
}
